/*
 * clogs CSS
 *
 * Main palette is "Identification": http://kuler.adobe.com/#themeID/1486335
 *                                   #0A3A4A #196674 #33A6B2 #9AC836 #D0E64B
 *
 */

body {
    font: 16px Raleway, Helvetica, sans-serif;
}

body > header {
    background: #33A6B2;
    color: #FFF;
    padding: 15px;
}

.button {
    background: #EEEEEE;
    background: -webkit-gradient(linear, left top, left bottom,
                                 color-stop(0%,#F7F7F7),
                                 color-stop(100%,#eeeeee));
    background: -moz-linear-gradient(center top, #F7F7F7 0%, #EEEEEE 100%);
    -webkit-box-shadow: 0px 1px 1px 0px #DFDFDF, 0px 1px 1px 0px #FFFFFF inset;
    -moz-box-shadow: 0px 1px 1px 0px #DFDFDF, 0px 1px 1px 0px #FFFFFF inset;
    box-shadow: 0px 1px 1px 0px #DFDFDF, 0px 1px 1px 0px #FFFFFF inset;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0px 1px 0px #ffffff;
    padding: 11px 21px;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 13px;
    color: #969696;
    font-weight: bold;
}
.button:hover {
    background: #efefef;
    background: -webkit-gradient(linear, left top, left bottom,
                                 color-stop(0%,#fbfbfb),
                                 color-stop(100%,#efefef));
    background: -moz-linear-gradient(center top, #fbfbfb 0%, #efefef 100%);
    color: #33A6B2;
}
.button:active {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e9e9e9));
    background: -moz-linear-gradient(center top, #f2f2f2 0%, #e9e9e9 100%);
    margin: 1px 0px 0px 0px;
    color: #196674;
}

#logo {
    font: 44px Raleway, Helvetica, sans-serif;
    display: inline;
    padding: 50px;
}

#clog-graph {
    width: 930px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

#clog-graph header {
    padding: 40px;
}

#clog-graph header h1 {
    font: 32px Raleway, Helvetica, sans-serif;
    letter-spacing: 3px;
    text-align: center;
}

#graph {
    width: 900px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

#graph .tickLabel,
#graph .legendLabel {
    font: 100 11px Helvetica, sans-serif;
}

#graph .yAxis .tickLabel {
    text-align: right ! important;
}

#packages {
    float: right;
    margin-top: -28px;
}
